<div class="settings">
  <div class="navigation">
    <button mat-icon-button class="nav-button" [routerLink]="'/'">
      <mat-icon> arrow_back </mat-icon>
    </button>
    <div class="nav-title">Settings</div>
  </div>
  <div class="options">
    <div class="multi">
      <div class="multi-title">Game mode</div>
      <div class="multi-list">
        <mat-radio-group class="multi-group" [value]="gameMode$ | async" (change)="setGameMode($event)">
          <mat-radio-button class="multi-option" *ngFor="let mode of gameModeList" [value]="mode.id" [disabled]="mode.disabled">
            {{ mode.title }}
          </mat-radio-button>
        </mat-radio-group>
      </div>
    </div>
    <div class="option">
      <mat-slide-toggle [checked]="allowUndo$ | async" (change)="toggleAllowUndo()" [disabled]="true">
        Allow undo (coming soon)
      </mat-slide-toggle>
    </div>
    <div class="option">
      <mat-slide-toggle [disabled]="true">Zen mode - only perfect blocks (coming soon)</mat-slide-toggle>
    </div>
    <div class="option">
      <mat-slide-toggle [disabled]="true">Highlight eliminations on hover (coming soon)</mat-slide-toggle>
    </div>
    <div class="option">
      <mat-slide-toggle [disabled]="true">Only unique blocks per deck (coming soon)</mat-slide-toggle>
    </div>
    <div class="option">
      <mat-slide-toggle [disabled]="true">Show hints (coming soon)</mat-slide-toggle>
    </div>
  </div>
</div>
