<div class="blozz">
  <div class="header">
    <div class="settings">
      <button mat-icon-button [routerLink]="'/settings'">
        <mat-icon [matBadge]="(newFeatures$ | async) === true ? '.' : ''" matBadgeSize="small" matBadgeColor="warn">settings</mat-icon>
      </button>
    </div>
    <div class="score">
      <app-score></app-score>
    </div>
  </div>
  <div class="board">
    <app-score-announcer></app-score-announcer>
    <app-board></app-board>
  </div>
  <div class="pieces">
    <app-deck></app-deck>
  </div>
</div>
